<div>
    <p>Paste any additional rules text here. &nbsp;
        This is intended for copy-pasting out of homebrew PDFs like you might get at the <a href="https://www.dmsguild.com/">Dungeon Masters Guild</a>. &nbsp;
        The description of your item probably just has the rules text. &nbsp;
        So the intent here is to capture things that look like "<strong>Casting Time:</strong> 1 action <strong>Range:</strong> Self", etc.</strong>
    </p>
    <p>Unlike the "Parse Description" button that assumes well-formatted text and updates fields aggressively, any "Parse More" text is assumed to be very messy. &nbsp;
        "Parse More" won't overwrite fields on your item with fallback values like "Parse Description" does.
    </p>
    <button class="rules-parser-parse-more">Parse More</button>
    <label>Copy-paste rules text here, then click "Parse More":</label>
    <textarea autofocus="true" rows="15"></textarea>
</div>
